In [1]:
# 딕셔너리, 집합, 컬렉션

In [2]:
# 딕셔너리의 정의
# 딕셔너리 ---- 키(key)와 값(value)를 한쌍으로 연관지어 사용하는 자료형

In [3]:
# dic_name[key]방식으로 사용함
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95}
a["수학"]

95

In [4]:
a["이름"]

'홍길동'

In [5]:
# keys(), values(), items()는 다음과 같음
a.keys()

dict_keys(['이름', '국어', '영어', '수학'])

In [6]:
a.values()

dict_values(['홍길동', 100, 88, 95])

In [7]:
a.items()

dict_items([('이름', '홍길동'), ('국어', 100), ('영어', 88), ('수학', 95)])

In [8]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95}
for i in a.items():
    print(i,end=",")

('이름', '홍길동'),('국어', 100),('영어', 88),('수학', 95),

In [9]:
for i in a.keys():
    print(i,end=",")

이름,국어,영어,수학,

In [10]:
for i in a.values():
    print(i,end=",")

홍길동,100,88,95,

In [11]:
# get()은 해당키의 값을 검색하며 없는 경우의 출력내용을 지정 가능
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95}
print(a.get("과학"))

None

In [12]:
print(a.get("과학","없는과목입니다"))

없는과목입니다

In [13]:
print(a.get("수학","없는과목입니다"))

95

In [14]:
# 다음문장에서 각각이 쓰인 글자에 대한 계수를 하는 예제

text = """안녕하셔요. 오늘은 날씨가 매우 화창합니다.
그래서 기분이 매우 좋네요
너도 기분이 좋은가요 랄라랄랄라라라라라라 abc임마"""

a=dict() #하나의 딕셔너리 자료형을 정의
for c in text: #위에 정의한 텍스트를 하나씩 추출하여 처리
    if c not in a: #해당 추출글자가 지금까지의 딕셔너리에 없다면
        a[c]=1 #그때는 최초 1값으로 시작
    else: #이 경우는 해당 추출글자의 딕셔너리가 있다
        a[c] +=1 #그럼 해당 딕셔너리 키에 해당되는 값을 하나더함
print(a)

{'안': 1, '녕': 1, '하': 1, '셔': 1, '요': 3, '.': 2, ' ': 11, '오': 1, '늘': 1, '은': 2, '날': 1, '씨': 1, '가': 2, '매': 2, '우': 2, '화': 1, '창': 1, '합': 1, '니': 1, '다': 1, '\n': 2, '그': 1, '래': 1, '서': 1, '기': 2, '분': 2, '이': 2, '좋': 2, '네': 1, '너': 1, '도': 1, '랄': 3, '라': 7, 'a': 1, 'b': 1, 'c': 1, '임': 1, '마': 1}

In [15]:
#아래서 부터는 보기 힘드니 각 글자(키)를 소트해 본다
b=dict() #딕셔너리 하나 더 정의
l=list(a.keys()) #앞에 딕서너리에 키만 뽑아 리스트를 만듦
l.sort() #해당 리스트 소트
for c in l: #각 리스트에 대하여 (결국 키값) 하나씩 뽑음
    b[c]=a[c] # 새로운 딕셔너리는 키값 순서데로 다시 만듦
print(b)

{'\n': 2, ' ': 11, '.': 2, 'a': 1, 'b': 1, 'c': 1, '가': 2, '그': 1, '기': 2, '날': 1, '너': 1, '네': 1, '녕': 1, '늘': 1, '니': 1, '다': 1, '도': 1, '라': 7, '랄': 3, '래': 1, '마': 1, '매': 2, '분': 2, '서': 1, '셔': 1, '씨': 1, '안': 1, '오': 1, '요': 3, '우': 2, '은': 2, '이': 2, '임': 1, '좋': 2, '창': 1, '하': 1, '합': 1, '화': 1}

In [16]:
# 집합
# 수학적 의미의 집합과 동일함
# 대괄호 {}로 원소를 표현하며 순서에 상관없이 표시 및 사용됨(순서의 의미가 없음)
# 원소가 중복되어도 하나로 인식됨
# 다른 자료형으로부터 set()함수를 통하여 집합으로 변환함
# ( 단 딕셔너리 타입은 키만 집합으로 변환됨)

In [17]:
a={1,2,2,2,2,3,3,3,4,5}
a

{1, 2, 3, 4, 5}

In [18]:
set(("a",1,2))

{1, 2, 'a'}

In [19]:
set("a")

{'a'}

In [20]:
set({"이름":"홍길동", "국어":100,"영어":88, "수학": 95})

{'국어', '수학', '영어', '이름'}

In [28]:
# add(값) ---- 원소 추가시 사용함
# remove(값) ----- 원소 제거시 사용함
a1 = {1,2,3,4,5}
a1

{1, 2, 3, 4, 5}

In [29]:
a1.add(0)
a1

{0, 1, 2, 3, 4, 5}

In [30]:
a1.add(2.4)
a1

{0, 1, 2, 2.4, 3, 4, 5}

In [31]:
a1.remove(3)
a1

{0, 1, 2, 2.4, 4, 5}

In [32]:
A={1,2,3,4,5,6,7}
B={7,8,9,10}

print(A|B)
print(A&B)
print(A-B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{7}
{1, 2, 3, 4, 5, 6}

In [34]:
print({1,2,3} < {1,2})

print({1,2,3} > {1,2})

print({1,2,3} >= {1,2})

print({1,2,3} == {1,2})

print({1,2,3} >= {3,1,2})

print({1,2,3} == {3,1,2})

False
True
True
False
True
True

In [35]:
# 컬렉션

In [36]:
# 컬렉션으로 변환
# 리스트 a=[“a”,“b”,“c”,“d”,“e”]를 딕셔너리 b={1: ‘a’,2: ‘b’, 3: ‘c’, 4: ‘d’, 5: ‘e’}
# 로 변환한다면 다음과 같이 처리
a=["a","b","c","d","e"]
b={}
for i in range (len(a)):
    b[i]=a[i] #a는 리스트 b는 딕셔너리
b

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [37]:
# enumerate() 함수는 요소를 0부터 차례의 숫자로 대입해 줌
# 보기에서 b는 딕셔너리, c는 튜플을 원소로 가진 리스트로 변환 되었음

In [38]:
a=["a","b","c","d","e"]
b=enumerate(a) #여기 까지는 중간단계
b

In [43]:
b=dict(enumerate(a))
c=list(enumerate(a)) #딕셔너리와 리스트를 만든다
print(b)
print(c)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}
[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [44]:
# zip은 두 컬렉션(리스트, 튜플, 집합 등)을 하나씩 대응관계를 만들어 줌
# 단 서로의 개수가 다를 때 적은 개수에 맞추어 구성됨

In [45]:
 a={1,2,3,4,5,6,7,8}  # 집합a
b={"a","b","c","d","e"}  # 집합b
zip(a,b)   # zip만으로는 단순히 object임

In [46]:
c=dict(zip(a,b))
d=list(zip(a,b))
print(c)
print(d)

{1: 'd', 2: 'b', 3: 'c', 4: 'e', 5: 'a'}
[(1, 'd'), (2, 'b'), (3, 'c'), (4, 'e'), (5, 'a')]

In [48]:
a=(1,2,3,4,5,6,7,8) #튜플a
b=["a","b","c","d","e"] #리스트 b
c=dict(zip(a,b));d=list(zip(a,b))
print(c)
print(d)

# b는 딕셔너리, c는 튜플을 원소로 가진 리스트로 변환 되었음

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [49]:
# 함수인자에 컬렉션 값을 차례로 대입
# filter(함수명,인자_컬렉션)은 인자 컬렉션의 값을 하나씩 대응하여 함수를 실행함
# filter는 인자가 하나인 경우만 가능

def func(x):
    return x/2

x =(1,2,3,4,5,6)
for i in filter(func,x):
    print(i)

1
2
3
4
5
6

In [50]:
# filter는 인자가 하나인 경우만 가능
# 인자를 여러 개를 전달할 경우 map함수를 사용
def func(x,y):
    return x+y
x=(1,2,3,4,5,6)
y=(7,8,9,10,11,12)

#for i in filter(func,x,y): #filter를 사용하면 에러
for i in map(func,x,y):
    print(i)

8
10
12
14
16
18

In [51]:
# lambda는 전달한 함수가 간단한 경우 한 줄 안에 기입 가능
# lambda 인자는 함수내용 으로 한 줄에 기입가능
x=(1,2,3,4,5,6)
y=(7,8,9,10,11,12)
for i in map(lambda x,y:x+y, x,y):
    print(i)

8
10
12
14
16
18

In [53]:
# 컬렉션 주의사항
# copy
# 컬렉션을 대입하면 컬렉션의 값이 복사되는 것이 아니라 주소가 복사됨
a=[1,2,3]
b=a
b[2]=5
print("a = ",a)
print("b = ",b)
b[1]=3
print("a = ",a)

a =  [1, 2, 5]
b =  [1, 2, 5]
a =  [1, 3, 5]

In [54]:
# 대입된 컬렉션을 변경하면 원 컬렉션도 변경됨
# 이때는 b=a[:]또는 b=a.copy()를 사용(옅은 복사)

In [56]:
a=[1,2,3]
b=a[:]
b[2]=5
print("a = ", a)
print("b = ", b)

a =  [1, 2, 3]
b =  [1, 2, 5]

In [57]:
a=[1,2,3]
b=a.copy()
b[2]=5
print("a = ", a)
print("b = ", b)

a =  [1, 2, 3]
b =  [1, 2, 5]

In [58]:
# deepcopy
# 컬렉션 안에 컬렉션이 있을 때 copy를 사용시 첫 번째 컬렉션만 복사됨
# 이 경우 아래레벨의 모든 컬렉션을 복사할 경우  deepcopy를 사용

In [59]:
a=[[1,2],3,4]
b=a.copy()
b

[[1, 2], 3, 4]

In [60]:
b[0][1]=3
b

[[1, 3], 3, 4]

In [61]:
a

[[1, 3], 3, 4]

In [62]:
a=[[1,2],3,4]
b=a[:]
b

[[1, 2], 3, 4]

In [63]:
b[0][1]=3
a

[[1, 3], 3, 4]

In [64]:
# 아래레벨의 모든 컬렉션을 복사할 경우 deepcopy를 사용
# import copy를 정의하여 가져다 deepcopy를 사용

In [65]:
import copy as c
a=[[1,2],3,4]
b=c.deepcopy(a)
b[0][1]=3
print(a,b)

[[1, 2], 3, 4] [[1, 3], 3, 4]