In [5]:
#단순 대입 연산자
# 변수의 값을 집어넣는 형태
# 변수 = 값, 변수 = 수식의 형태로 사용함
# 수식 = 변수는 불가능함

In [6]:
a = 3
b = 4
c= 123 + 456 * 6
a, b, c

(3, 4, 2859)

In [10]:
# 수식 = 변수는 불가능
a + b = c

SyntaxError: cannot assign to operator (3858233543.py, line 2)

In [9]:
# 수식 = 변수는 불가능
123 + 456 = a

SyntaxError: cannot assign to operator (3339117833.py, line 2)

In [12]:
#단순 대입 연산자
# 변수의 값을 집어넣는 순간 변수의 자료형이 결정됨
# 자료형이 결정된 이후 자료형 형태로 사용하여야함
# 다시 다른 자료형을 대입 시 자료형이 변경됨
a = 1
a = a + "안녕"
# a는 정수형이고 거기에 문자열을 추가하기 때문에 오류 발생

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# a는 문자열이고 "안녕"이라는 문자열을 추가하기 때문에
# abc에 안녕이 추가되서 저장된다.
a = "abc"
a = a + "안녕"
a

'abc안녕'

In [16]:
# a, b = b, a 로 a,b변수의 값을 서로 바꿀수 있음
a = 1
b = 2
a, b

(1, 2)

In [19]:
# a,b = b,a로 a,b 변수의 값을 서로 바꾸는 과정
a,b=b,a
a,b

(2, 1)

In [20]:
#여러 변수의 값을 한번에 대입할 수 있음
a,b,c,d,e,f = 1,2,"안녕","하셔요",3,4
a,b,c,c,d,e,f

(1, 2, '안녕', '안녕', '하셔요', 3, 4)

In [22]:
# 복합형태 대입 연산자
# 단순 변수는 값을 대입하는 형태로 이해 가능하나,
# 컬렉션의 경우 같은 변수를 공유하는 것으로 이해하여야함
a = b = 1
a,b

(1, 1)

In [23]:
b = 2
a, b

(1, 2)

In [24]:
a = b = [1,2,3]
a,b

([1, 2, 3], [1, 2, 3])

In [25]:
a[1] = 4
a,b

([1, 4, 3], [1, 4, 3])

In [26]:
# 컬렉션에서 값을 복사하는 경우는 아래와 같이 사용
a = [1,2,3,4,5]
b = a[:]
a,b

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [27]:
a[2] = 5
a, b

([1, 2, 5, 4, 5], [1, 2, 3, 4, 5])

In [28]:
import sys
a = 123
sys.getrefcount(123)

29

In [29]:
b = 123
sys.getrefcount(123)

30

In [30]:
c = 123
sys.getrefcount(123)

31

In [31]:
# 산술 연산자

In [32]:
# 일반 산술 연산자
# 사칙연산 순으로 계산
1 + 2 * 3 / 4

2.5

In [36]:
# a ** b ---> a ^ b
2 ** 3

8

In [37]:
10 / 3

3.3333333333333335

In [38]:
#10의 n승은 e의n으로 표현한다
1e12*123456789012

1.23456789012e+23

In [39]:
a = 1+ 2j
a + (123 + 12j)

(124+14j)

In [40]:
# 정수형 연산자
# //(정수형 나눗셈), %(나머지)

In [43]:
# 일반 산술 연산자
# 실수형 계산이 기본이나 정수형 연사자를 사용하면 정수형 연산임
5 / 2

2.5

In [44]:
5 // 2

2

In [45]:
5 % 2

1

In [46]:
# 복합연산자

In [47]:
a = 1
a = a + 1
print(a)

2

In [48]:
# 누적합
a = 1
a += 1
print(a)

2

In [49]:
# 누적곱
a *= 2
a

4

In [53]:
# 누적차
a = 1
a -=1
a

0

In [54]:
a -= 1
a

-1

In [55]:
# 주의사항
# C, Java에 있는 1씩 더하거나 빼는 a++, a--는 사용할 수 없음
# 순서를 바꾼 =+, =-는 양수, 음수를 저장하는 경우가됨
a = 1
a++

SyntaxError: invalid syntax (3983076789.py, line 5)

In [56]:
a--

SyntaxError: invalid syntax (1562500846.py, line 1)

In [58]:
# +=이 아니라 순서를 바꾼 =+ 는 1을 더해주는게 아니라 양수1이저장
a =+1
a

1

In [59]:
# -=이 아니라 순서를 바꾼 =- 는 1을 빼주는게 아니라 음수1이저장
a =-1
a

-1

In [60]:
# 타입 케스팅

In [62]:
# 문자형 변환
# 변수의 형태가 다르면 서로 연산처리를 할 수 없음
# 이때는 변수의 형 변환처리를 하여야함
# 문자형 변수의 덧셈은 문자열을 붙이는 것으로 처리됨
a = "멍멍이"
b = "고양이"
a + b

'멍멍이고양이'

In [63]:
a * 3 + b * 2

'멍멍이멍멍이멍멍이고양이고양이'

In [64]:
"-" * 20

'--------------------'

In [66]:
# 문자형 변환
# 문자형과 숫자혀으이 덧셈은 에러이며,
# 이때 숫자형을 문자형으로 변환하여야 함
# 숫자형의 문자형으로 변환할 때는 str()함수를 사용함
a = 1
b = "강아지" + a + "마리"

# 문자열과 실수형이 합쳐져서 에러가 발생

TypeError: can only concatenate str (not "int") to str

In [67]:
# 문자열과 실수형을 합칠때 실수형을 문자형으로 변환해줘야함
b = "강아지" + str(a) + "마리"
b

'강아지1마리'

In [68]:
# 문자형을 다루는 ord()함수는 문자의 내부코드값을 반환
# chr함수는 내부코드값을 가지고 해당 글자를 반환
ord("가")

44032

In [70]:
hex(ord("a"))

'0x61'

In [78]:
for c in range (ord('a'), ord('z') + 1):
    print(hex(c), "=", chr(c), ", ", end = "")

0x61 = a , 0x62 = b , 0x63 = c , 0x64 = d , 0x65 = e , 0x66 = f , 0x67 = g , 0x68 = h , 0x69 = i , 0x6a = j , 0x6b = k , 0x6c = l , 0x6d = m , 0x6e = n , 0x6f = o , 0x70 = p , 0x71 = q , 0x72 = r , 0x73 = s , 0x74 = t , 0x75 = u , 0x76 = v , 0x77 = w , 0x78 = x , 0x79 = y , 0x7a = z ,

In [79]:
# 숫자형 변환

In [80]:
# 문자형을 숫자형으로 바꾸는 경우 int()함수를 사용함
# 동일한 이름으로 실수형을 정수형으로 바꾸는 경우 int()함수를 사용함
a = "123"
a+1
# a를 "123" 문자열로 저장하였기 때문에 +1은 오류가 발생

TypeError: can only concatenate str (not "int") to str

In [74]:
# 123을 정수형으로 변환하고 +1하면 정수형 덧셈이 된다
a = "123"
int(a) + 1

124

In [76]:
# 실수형 a를 정수형으로 변환하면 내림처리
a = 12.3
int(a)

12

In [77]:
# 문자형  -- 숫자형으로 바꾸는 경우 float() , int()를 사용함
# 정수형  -- 연산시 하나라도 실수형을 만나면 실수형의 연산을 수행함
# 실수형  -- 내용을 정수형으로 형변환시 소수점 이하 자릿수는 버림

In [82]:
# float()
a = "12.3"
int(a)

#문자형을 정수형으로 바꾸려고 하지만
# a는 실수형이기 때문에 바꾸지 못하고 오류가 발생

ValueError: invalid literal for int() with base 10: '12.3'

In [83]:
# 문자형 --> 실수형 변환
float(a)

12.3

In [85]:
# 정수형은 연산중에 하나라도 실수형을 만나면 실수형 계산으로 자동으로 바뀐다
a = 1.1
1 + a + 12

14.1

In [86]:
# 실수형 a를 정수형으로 변환후 계산
# 모두다 정수형이기때문에 정수형 연산이 실행된다
1 + int(a) + 12

14

In [87]:
# 올림, 버림, 반올림
# int() 함수는 소수점 이하의 숫자를 버림
# 반올림 함수는 roind()를 사용함

# 양수 --- 소수점 이하 해당 자리에서 반올림함
# 음수 --- 소수점 이상 해당 자리에서 반올림함

In [88]:
# int()함수는 소수점 이하의 숫자버림
int(3.14)

3

In [93]:
# round() 함수는 반올림
# round(a,b)는 a를 소수점 b의자리까지 반올림
# b에 음수가 들어가면 소수점이 아닌 10의자리수로 반올림 진행|

In [92]:
# 버림 계산 예시
print(int(3.14))
print(round(3.14))
print(round(3.14,1))
print(round(123456,-4))

3
3
3.1
120000

In [95]:
#올림 계산 예시
a = 1234567
if(a%1000 != 0):
    a = int(a/1000) * 1000 + 1000
else:
    a = int(a/1000) * 1000
a

# 1000으로 나누어 떨어지지 않으면 1000으로 버림을 진행하고 +1000을 해주어서
# 올림처리를 진행
# 만약에 1000으로 나누어 떨어지면 올림할 숫자가 없기때문에 그대로 출력

1235000