In [1]:
# 리스트와 튜플

In [2]:
# 리스트의 정의
# 리스트
# 1. 컬렉션의 하나로 연속되어 저장되어 묶음으로 관리하는 특별한 자료 저장형태
# 2. 기존 C,Java프로그램 언어에서 배열(Array)와 비슷하나 조금 다르고,java의 ArrayList와 유사함

In [3]:
# 리스트를 지정하면 첨자0부터 ~ (n-1)까지의 변수로 지정
a = [1,2,3,4,5]
a[0], a[1], a[2],a[3],a[4]

(1, 2, 3, 4, 5)

In [5]:
# 리스트 내부에서는 서로 다른 형태의 자료형도 저장이 가능함
a=[11,"abc",12.3333,"안녕",2+3j]
a[0],a[1],a[2],a[3],a[4]
(11, 'abc', 12.3333, '안녕', (2+3j))

(11, 'abc', 12.3333, '안녕', (2+3j))

In [6]:
# 값의 (형태)변경도 가능
a[1]=1234;a[4]="홍길동"
a

[11, 1234, 12.3333, '안녕', '홍길동']

In [7]:
#for 반복문에서 많이 다루어 보았음
score=[90,80,70,60,30]
sum=0
for s in score:
    print("점수(",s,")")
    sum+=s
print("총점:",sum)

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점: 330

In [11]:
# 리스트의 표현 방식
# 일반적으로 리스트를 지정하면 첨자 0부터 (n-1)까지의 변수로 지정
# 하지만 역방향으로도 지정가능  -n부터 -1 로 지정가능
a = [1,2,3,4,5]
print(a[0],a[-5])
print(a[1],a[-4])
print(a[2],a[-3])
print(a[3],a[-2])
print(a[4],a[-1])

1 1
2 2
3 3
4 4
5 5

In [ ]:
# 리스트이 첨자는 [begin:end:step] 으로 표현 가능
# 첨자가 0부터 시작하고, end값은그 값보다 작을때 까지 임에 주의할것

In [12]:
a=[1,2,3,4,5,6,7,8,9,10]
a [2:8] # 2부터 8보다 작을때까지

[3, 4, 5, 6, 7, 8]

In [13]:
a[:4] # 처음부터 4보다 작을때까지

[1, 2, 3, 4]

In [14]:
a[5:] #5부터 끝까지

[6, 7, 8, 9, 10]

In [16]:
a[0:6:3] #0부터 6보다 작을떄까지 3씩 증가하며

[1, 4]

In [17]:
# 다중 리스트
# 리스트의 요소로 리스트를 저장하여 2차, 3차 및 재귀적인 리스트 형태도 가능함
# 배열과 달리 가변 형식의 리스트도 가능함

In [19]:
a =[[1,2,3],[4,5,6],[7,8,9]] # 리스트로 구성된 리스트
a[2]

[7, 8, 9]

In [20]:
a[2][2]

9

In [21]:
a[1][3] # 인데스 범위를 벗어남

IndexError: list index out of range

In [22]:
a=[[1,2],[3,4,5],6] # 가변 형태의 리스트
a

[[1, 2], [3, 4, 5], 6]

In [23]:
a[2]

6

In [25]:
a[1]

[3, 4, 5]

In [26]:
# 리스트 컴프리헨션
# 리스트중 조건을 비교하거나 범위를 주어 선택사용이 가능한 방법
# [요소 for 변수 in (리스트)(range) {if조건문}]

In [27]:
# 예제 1
# 1부터 10으로 리스트를 구성하여 그 요소 하나하나에 3을 곱한것을 구함
a=[ n * 3 for n in range (1,10)]
a

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [30]:
# 예제 2
# 1부터 10중 2로 나누어 나머지가 0인(짝수인) 숫자로 리스트를 구성하여 그 요소 하나하나에 3을 곱한 것을 구함
a = [ n * 3 for n in range (1,10) if n % 2 == 0]
a

[6, 12, 18, 24]

In [34]:
def titleprint():
    print("="*50)
    print("이름\t국어\t영어\t수학\t총점\t평균")
    print("="*50)
              
def itemprint(name,kor,eng,mat):
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
              
def tailprint():
    totkor=0
    toteng=0
    totmat=0
    for one_student in score:
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50)
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t",(totkor+toteng+totmat)//9,"\t",
      (totkor+toteng+totmat)/3//9)
    print("="*50)

#데이터 2차원 리스트
score=[["나연",100,90,100],
    ["정연",90,90,100],
    ["모모",80,70,90],
    ["사나",90,90,80],
    ["지효",100,80,80],
    ["미나",50,90,90],
    ["다현",80,60,100],
    ["채영",70,80,90],
    ["쯔위",100,90,90]]

#프로그램을 보기 좋게 하려고 상수를 정의
name=0;kor=1;eng=2;mat=3

#여기부터 프로그램
titleprint()
for one_student in score:
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 90 	 90 	 100 	 280 	 93
모모 	 80 	 70 	 90 	 240 	 80
사나 	 90 	 90 	 80 	 260 	 86
지효 	 100 	 80 	 80 	 260 	 86
미나 	 50 	 90 	 90 	 230 	 76
다현 	 80 	 60 	 100 	 240 	 80
채영 	 70 	 80 	 90 	 240 	 80
쯔위 	 100 	 90 	 90 	 280 	 93
==================================================
반총점	 760 	 740 	 820 	 257 	 85.0
==================================================

In [35]:
# 리스트 관리

In [36]:
#리스트 삽입, 삭제
# 리스트 생성시 처음값을 지정하거나 삽입(append), 해당위치 삭제(del), 전부삭제(clear)하여 값을 지정함
# 리스트 값을 주고 생성한 후 변수를 지우는 del명령어로 삭제가 가능함
# del a[2]로 2번 리스트 요소를 삭제하며 뒤에 리스트들이 앞으로 당겨짐
# a.clear를 사용하면 모든리스트가 삭제됨
# clear로 삭제해도 빈 리스트는 남음

In [37]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [39]:
del a[2]  # 2번요소 삭제
a

[1, 2, 5]

In [41]:
a.clear() #리스트 전부지움
a

[]

In [43]:
del a  # 빈리스트 a도 지움
a

NameError: name 'a' is not defined

In [45]:
# a.append(값)으로 리스트를 추가하기 위하여 최소 빈리스트는 정의되어있어야함
# 리스트의 맨 뒤로부터 하나씩 요소가 추가되어 들어감

In [47]:
a. append(1) # 리스트가 정의되어 있지 않은 경우 추가는 불가

NameError: name 'a' is not defined

In [48]:
a = [] # 빈리스트를 정의
a.append(1) # 1값의 리스트 요소를 추가
a.append(3) 
a.append(5)
a

[1, 3, 5]

In [49]:
a = [4,5,6]
a.append(10)
a

[4, 5, 6, 10]

In [50]:
# 한개의 요소를 삽입시 insert를 사용하고
# list.insert(삽입위치, 삽입내용)으로 사용
a = [1,2,3,4,5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [52]:
a.insert(3,12)
a

[1, 2, 3, 12, 4, 5, 6]

In [53]:
a.insert(4,15)
a

[1, 2, 3, 12, 15, 4, 5, 6]

In [54]:
a.insert(3,1)
a

[1, 2, 3, 1, 12, 15, 4, 5, 6]

In [1]:
# 여러개의 요소를 삽입시 list[n:n] = 방식으로 사용 (n은 삽입위치)
a = [1,2,3,1,12,15,4,5,6]
a[5:5] = [1,2,3,4,5,6]
a

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [2]:
# list[n] = 을 사용하면 해당 n요소의 리스트가 대입된 경우임에 주의할 것
a = [1,2,3,1,12,15,4,5,6]
a[5] = [1,2,3,4,5,6]
a

[1, 2, 3, 1, 12, [1, 2, 3, 4, 5, 6], 4, 5, 6]

In [4]:
# 두개의 리스트를 병합하는 방법
# 1. list.extend를 사용
# 2. + 연산을 이용

a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [5]:
a = [1,2,3]
b = [4,5,6]
a = a + b
print(a)

[1, 2, 3, 4, 5, 6]

In [6]:
# 리스트를 지우기 위하여 list.remove(원하는 값), del(list[n:m]), list.clear()를 사용
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]

In [7]:
a.remove(7)
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]

In [9]:
# 이거는 5번째값에 빈값이 들어있는 리스트를 만드는것
a[5]=[]
a

[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 7, 8]

In [11]:
a[2:4]=[]
a

[1, 2, 5, 6, 7, 7, 7, 8]

In [13]:
del(a[4])
a

[1, 2, 5, 6, 7, 8]

In [14]:
del(a[3])
a

[1, 2, 5, 7, 8]

In [15]:
a.clear() # 다지우고 빈리스트만 남김
a

[]

In [17]:
del(a)  # 빈 리스트까지 삭제
a

NameError: name 'a' is not defined

In [18]:
# list.pop(n)은 해당위치를 리턴하고 삭제함 n이 없다면 맨 마지막 요소 리턴
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
a.pop()

8

In [19]:
a.pop()

7

In [20]:
a.pop(3)

3

In [21]:
a.pop(6)

6

In [22]:
a.pop(6)

7

In [23]:
a.pop(0)

1

In [24]:
a

[2, 3, 4, 4, 5, 7, 7]

In [ ]:
# 리스트 검색

In [25]:
# list.index(값) ----- 해당값이 처음 나오는 위치를 리턴
# list.count(값) ----- 해당 값이 몇번 나오는지 리턴
a =[1,2,3,3,4,4,5,6,7,7,7,7,8]
a.index(7)

8

In [26]:
a.index(8)

12

In [29]:
a.index(4)

4

In [30]:
a.count(7)

4

In [32]:
# min(list), max(list) ----- 리스트중 최소값과 최대값을 구함
# len(list)  ----- 리스트의 크기(개수)를 구함
a = [1,2,3,3,4,4,5,6,7,7,7,7,8]
print(min(a))
print(max(a))
print(len(a))

1
8
13

In [33]:
# list.sort() ---- 리스트 내용을 정렬함
# list.reverse() ---- 리스트 내용을 역으로 보여줌
a = [1,8,5,6,2,4,5,2,6,9,4]
a.reverse()
a

[4, 9, 6, 2, 5, 4, 2, 6, 5, 8, 1]

In [34]:
a.sort()
a

[1, 2, 2, 4, 4, 5, 5, 6, 6, 8, 9]

In [35]:
# import문             외부의 함수를 가지고 올때 사용
# import random        라이브러리를 가져다 사용하겠다는 정의
# import random as r   프로그램안에서 r.random과 같이 r다음에 오는 함수는 random라이브러리로부터 가지고온것을 정의

In [38]:
import random as r

def titleprint():
    print("="*50)
    print("이름\t국어\t영어\t수학\t총점\t평균")
    print("="*50)
              
def itemprint(name,kor,eng,mat):
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
              
def tailprint():
    totkor=0
    toteng=0
    totmat=0
    for one_student in score:
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50)
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t",(totkor+toteng+totmat)//9,"\t",
      (totkor+toteng+totmat)/3//9)
    print("="*50)


one_person=[]
score=[]
for i in range(10):
    one_person.append("name"+str(i)) #이름
    one_person.append(r.randrange(10,100)) #국어 10부터 100까지 임의에 값을 추출
    one_person.append(r.randrange(10,100)) #영어
    one_person.append(r.randrange(10,100)) #수학
    score.append(one_person[:]) #값을 복사해서 추가함에 주의할 것
    one_person.clear()
    
#프로그램을 보기 좋게 하려고 상수를 정의
name=0;kor=1;eng=2;mat=3

#여기부터 프로그램
titleprint()
for one_student in score:
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
name0 	 88 	 61 	 74 	 223 	 74
name1 	 52 	 89 	 79 	 220 	 73
name2 	 70 	 63 	 28 	 161 	 53
name3 	 28 	 53 	 77 	 158 	 52
name4 	 17 	 26 	 45 	 88 	 29
name5 	 84 	 91 	 95 	 270 	 90
name6 	 32 	 78 	 69 	 179 	 59
name7 	 46 	 59 	 18 	 123 	 41
name8 	 98 	 78 	 32 	 208 	 69
name9 	 92 	 51 	 62 	 205 	 68
==================================================
반총점	 607 	 649 	 579 	 203 	 67.0
==================================================

In [40]:
# 튜플
# 튜플은 값을 정의시 []대신 ()로 대입
# 튜플은 값을 변경할 수 없는 자료형

In [41]:
# 값을 조회는 가능
a=(1,8,5,6,2,4,5,2,6,9,4)
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [42]:
a[5]

4

In [43]:
a[3:5]

(6, 2)

In [44]:
a[3:8]

(6, 2, 4, 5, 2)

In [45]:
a *2

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [46]:
# 값을 대입하거나 변경하거나 구조를 지우는 것은 불가능
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [47]:
a[1] = 5  #값을 변경은 불가능

TypeError: 'tuple' object does not support item assignment

In [48]:
del a[4] # 변수 지우기 불가능

TypeError: 'tuple' object doesn't support item deletion

In [49]:
a.append(10)  # 값 추가 불가능

AttributeError: 'tuple' object has no attribute 'append'

In [50]:
# 튜플의 예시
# 함수의 리턴 값을 여러개 정의할경우 튜플로 전달됨
def location():
    latitude = 2, 17403 # 위도
    longitude=41,40338 #경도
    return latitude,longitude #이런방식의 리턴은 튜플로 반환

a=location()
print(a)

((2, 17403), (41, 40338))