In [2]:
# 함수
# 함수의 정의
# 프로그램 블록을 미리 정의하고 프로그램 내부에서 호출하여 사용하는 기법
# 비슷한 로직이 반복되거나 프로그램 흐름을 구조적으로 표현하기 위하여 사용함
# 누군가 이미 정의해 놓은 함수를 가져다 마치 블록을 조립하듯이 프로그램을 완성
# def 함수(인수 목록):
#      실험내용블록

In [3]:
# 함수의 정의
print("별10개 찍기")
for i in range(10):
    print("*", end="")
print("\n")

print("별3개 찍기")
for i in range(3):
    print("*",end="")
print("\n")
    
print("별5개 찍기")
for i in range(5):
    print("*",end="")
print("\n")

별10개 찍기
**********

별3개 찍기
***

별5개 찍기
*****

In [4]:
# 함수의 정의
# 함수를 활용하여 프로그램을 작성함
# 프로그램이 간결해지고 이해하기 쉬워짐
# 반복 또는 유사한 내용을 간결하게 표시가 가능함

def starprint(n):
    for i in range(n):
        print("*",end="")
    print("\n")
    
print("별10개 찍기");starprint(10)
print("별3개 찍기");starprint(3)
print("별5개 찍기");starprint(5)

# 함수에 들어가는 요소 n을 인수라함

별10개 찍기
**********

별3개 찍기
***

별5개 찍기
*****

In [5]:
# 인수
def intsum(n):
    sum = 0
    for i in range(1, n +1 , 1):
        sum += i
    return sum

print("1~10까지의 합:",intsum(10))
print("1~1000까지의 합:",intsum(1000))
print("1~10000까지의 합:",intsum(10000))

1~10까지의 합: 55
1~1000까지의 합: 500500
1~10000까지의 합: 50005000

In [6]:
def intsum(x,y):
    sum = 0
    for i in range(x,y+1,1):
        sum += i
    return sum

print("1~10까지의 합:",intsum(1,10))
print("1~1000까지의 합:",intsum(100,1000))
print("1~10000까지의 합:",intsum(5000,10000))

1~10까지의 합: 55
1~1000까지의 합: 495550
1~10000까지의 합: 37507500

In [7]:
# return 값
# return 값을 배정하면 함수의 최종결과를 가진 변수와 같이 취급됨
# return 값이 없다면 함수내 블록을 실행하는 것으로 끝남

In [8]:
def intsum(x,y):
    sum=0;
    for i in range(x,y+1,1):
        sum += i
    return sum

print("1~10까지의 합에 5를 더함:",intsum(1,10)+5)
i=intsum(100,1000)*33
print("100~1000까지의 합에 33을 곱함:",i)

1~10까지의 합에 5를 더함: 60
100~1000까지의 합에 33을 곱함: 16353150

In [10]:
# return 값이 없는 예제
def intsum(x,y):
    sum=0;
    for i in range(x,y+1,1):
        sum+=i
    print("함수내부에서 sum값을 출력:",sum)
    
i=intsum(100,1000)
print("100~1000까지의 합:",i)
print("100~1000까지의 합에 33을 곱함:",i)

함수내부에서 sum값을 출력: 495550
100~1000까지의 합: None
100~1000까지의 합에 33을 곱함: None

In [11]:
# pass
# pass는 아무런 처리가 없는 명령
# 프로그램을 코딩할 때 우선 함수만 정의해놓고
# pass처리 후 추후 내용을 채우면서 개발해 나갈 때 용이함

In [25]:
def titleprint():
    print("===============================================")
    print("이름\t국어\t영어\t수학\t총점\t평균")
    print("===============================================")   

def itemprint(name,kortotal,engtotal,mathtotal):
    sum = kortotal + engtotal + mathtotal
    avg = sum / 3
    print(name,"\t",kortotal,"\t",engtotal,"\t",mathtotal,"\t",sum,"\t",int(avg))
    
def tailprint(kortotal, engtotal,mathtotal):
    sum = (kortotal + engtotal + mathtotal) / 9
    avg = sum / 3
    print("===============================================")
    print("반총점\t",kortotal,"\t",engtotal,"\t",mathtotal,"\t",int(sum),"\t",int(avg))
    print("===============================================")  
    

#데이터
cname=["나연","정연","모모","사나","지효","미나","다현","채영","쯔위"]
ckor =[ 100,100,90,90,100,80,70,80,100]
ceng =[ 90,100,100,80,100,70,60,100,100]
cmat =[ 100,80,100,90,100,90,100,90,100]

#여기부터 프로그램
titleprint()
kortotal = 0
engtotal = 0
mathtotal = 0
for i in range(9):
    itemprint(cname[i],ckor[i],ceng[i],cmat[i])
    kortotal += ckor[i]
    engtotal += ceng[i]
    mathtotal += cmat[i]

tailprint(kortotal, engtotal, mathtotal)

===============================================
이름	국어	영어	수학	총점	평균
===============================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 100 	 100 	 80 	 280 	 93
모모 	 90 	 100 	 100 	 290 	 96
사나 	 90 	 80 	 90 	 260 	 86
지효 	 100 	 100 	 100 	 300 	 100
미나 	 80 	 70 	 90 	 240 	 80
다현 	 70 	 60 	 100 	 230 	 76
채영 	 80 	 100 	 90 	 270 	 90
쯔위 	 100 	 100 	 100 	 300 	 100
===============================================
반총점	 810 	 800 	 850 	 273 	 91
===============================================

In [27]:
def titleprint():
    print("="*50)
    print("이름\t국어\t영어\t수학\t총점\t평균")
    print("="*50)
    
def itemprint(name,kor,eng,mat):
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
    
def tailprint():
    totkor=0
    for i in ckor:
        totkor+=i
    toteng=0
    for i in ceng:
        toteng+=i
    totmat=0
    for i in cmat:
        totmat+=i
    print("="*50)
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
    ,(totkor+toteng+totmat)//9,"\t",(totkor+toteng+totmat)/3//9)
    print("="*50)
    
#데이터
cname=["나연","정연","모모","사나","지효","미나","다현","채영","쯔위"]
ckor =[ 100,100,90,90,100,80,70,80,100]
ceng =[ 90,100,100,80,100,70,60,100,100]
cmat =[ 100,80,100,90,100,90,100,90,100]

#여기부터 프로그램
titleprint()
kortotal = 0
engtotal = 0
mathtotal = 0
for i in range(9):
    itemprint(cname[i],ckor[i],ceng[i],cmat[i])
    kortotal += ckor[i]
    engtotal += ceng[i]
    mathtotal += cmat[i]

tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 100 	 100 	 80 	 280 	 93
모모 	 90 	 100 	 100 	 290 	 96
사나 	 90 	 80 	 90 	 260 	 86
지효 	 100 	 100 	 100 	 300 	 100
미나 	 80 	 70 	 90 	 240 	 80
다현 	 70 	 60 	 100 	 230 	 76
채영 	 80 	 100 	 90 	 270 	 90
쯔위 	 100 	 100 	 100 	 300 	 100
==================================================
반총점	 810 	 800 	 850 	 273 	 91.0
==================================================

In [28]:
# 변수의 범위

In [30]:
# 가변 인수
# 인수의 개수가 여러개를 보낼때 사용
# 인수명에 *를 붙여서 전달
def sumsum(*num):
    sum=0
    for i in num:
        sum+=i
    return sum

print("case 1:", sumsum(1))
print("case 2:", sumsum(1,2,4))
print("case 3:", sumsum(1,2,34,567,8901))

case 1: 1
case 2: 7
case 3: 9505

In [32]:
def sumsum(num):
    sum=0
    for i in num:
        sum+=i
    return sum

print("case 1:", sumsum([1]))
print("case 2:", sumsum([1,2,4]))
print("case 3:", sumsum([1,2,34,567,8901]))

case 1: 1
case 2: 7
case 3: 9505

In [33]:
# 주의 사항
# 가변인수는 몇개가 입력될지 모르기 때무에 다음의 경우는 에러가 발생함
sumsum(str,*num) # 동작가능
sumsum(*num,str) # 에러
sumsum(*num,str*) # 에러

SyntaxError: invalid syntax (2955599849.py, line 5)

In [34]:
# 디폴트 값 처리
# 인수에 디폴트 값을 정의하면 해당 인수를 사용하지 않고 함수의 값을
# 전달할 경우, 해당 인수는 디폴트 값을 가지게됨

In [35]:
# 합을 구하는 함수 예제

def defaultest (start,end=1000,step=1):
    sum=0
    for i in range(start,end+1,step):
        sum+=i
    return sum

print("case 1:", defaultest(0,10,1))
#인수 하나를 생략시 맨뒤 step값이 1로 기본값처리
print("case 2:", defaultest(50,100)) 
#인수 하나를 생략시 맨뒤 step값이 1,
#end 값이 1000으로 기본값처리
print("case 3:", defaultest(100))

case 1: 55
case 2: 3825
case 3: 495550

In [36]:
# 키워드 인수
# 함수 호출시 인수 이름을 명시하여 함수를 실행함
# 인수 전달 순서를 변경 가능함

def defaultest (start,end=1000,step=1):
    sum=0
    for i in range(start,end+1,step):
        sum+=i
    return sum

print("case 1:", defaultest(0,10,1))
print("case 2:", defaultest(start=0,end=10,step=1))
#키워드 지정시 순서가 상관없음
print("case 3:", defaultest(step=1,end=10,start=0))
#맨뒤로 부터만 키워드 인수를 사용하고 앞은 일반인수
print("case 4:", defaultest(0,10,step=1))
#맨뒤로 부터만 키워드 인수를 사용하고 앞은 일반인수
print("case 5:", defaultest(0,step=1,end=10))

case 1: 55
case 2: 55
case 3: 55
case 4: 55
case 5: 55

In [51]:
# 디폴트 인수와 마찬가지로 뒤에서부터 키워드 인수를 사용하여야함
# 아래와 같은 경우는 에러 발생

def defaultest (start,end=1000,step=1):
    sum=0
    for i in range(start,end+1,step):
        sum+=i
    return sum

print("error1:", defaultest(0,step=1,10))
print("error2:", defaultest(start=0,step=1,10))

SyntaxError: positional argument follows keyword argument (593409123.py, line 10)

In [ ]:
#키워드 가변인수
# 인수전달개수가 가변이며, 변수의 명칭을 키워드로 전달하며 인수 전달개수도 가변인 경우
# 함수 호출시 키워드 인수 방식으로 호출하여야함
# 별을 두개(**)로 정의하며, 다음과 같은 예제의 문법으로 사용함

In [52]:
def testfunc (**args):
    start=args["start"] # 키워드 가변
    end=args["end"] # 키워드 가변
    step=args["step"] # 키워드 가변
    sum=0
    for i in range(start,end+1,step):
        sum+=i
    return sum

print("case 1:", testfunc(start=0,end=10,step=1))
print("case 2:", testfunc(end=100,step=1,start=10))

case 1: 55
case 2: 5005

In [53]:
def testfunc (*s,**args):
    start=args["start"]
    end=args["end"] 
    step=args["step"] 
    for c in s:
        print(" "*start,end="")
        for i in range(start,end+1,step):
            print(c,end="")
        print("\n")
        
print("="*30)
testfunc("*","&","=",start=0,end=10,step=1)
print("="*30)
testfunc("*","?","=","%",start=3,end=10,step=1)

==============================
***********

&&&&&&&&&&&

===========

==============================
   ********

   ????????

   ========

   %%%%%%%%

In [55]:
#전역변수, 지역변수
# ㅎ람수에서 사용된 지역변수는 다른 함수나 메인에서 해당 변수를 가져다 사용할 수 없음
def test():
    a=1

test()
print(a) # 에러발생

NameError: name 'a' is not defined

In [56]:
def testf1():
    a=1
    print("testf1:",a)
    
def testf2():
    a="즐거운 실습"
    print("testf2:",a)
    
def testf3():
    a=3.141592
    print("testf3:",a)
    
testf1()
testf2()
testf3()
a="랄랄라"
print(a)

# 선언된 a변수는 이름만 a로 같을뿐 전혀 다른 변수임

testf1: 1
testf2: 즐거운 실습
testf3: 3.141592
랄랄라

In [57]:
# 전역변수는 메인에서만 변경 가능하며 함수에서는 변경하지 않는 상수로만 사용됨
# 변경시 지역변수가됨
# 예제 내 case1에서 testf2함수내 exrate가 지역변수로
# testf2에서만 작용하고 함수를 빠져 나와 case2에
# testf1을 만나면 기존 지역변수 exrate는 의미가 없이 전역변수 exrate가 사용됨

In [58]:
def testf1():
    print("testf1: 현재 달러환율은 1달러당 ",exrate,"원이며")
    print("testf1: 미화 100달러는 ",100*exrate,"원 입니다")
    
def testf2():
    exrate=1011
    print("testf2: 현재 달러환율은 1달러당 ",exrate,"원이며")
    print("testf2: 미화 100달러는 ",100*exrate,"원 입니다")
    
exrate=1021
testf1()
exrate=1120
testf1()

testf2() #case 1
testf1() #case 2

testf1: 현재 달러환율은 1달러당  1021 원이며
testf1: 미화 100달러는  102100 원 입니다
testf1: 현재 달러환율은 1달러당  1120 원이며
testf1: 미화 100달러는  112000 원 입니다
testf2: 현재 달러환율은 1달러당  1011 원이며
testf2: 미화 100달러는  101100 원 입니다
testf1: 현재 달러환율은 1달러당  1120 원이며
testf1: 미화 100달러는  112000 원 입니다

In [59]:
#docstring

# 함수에 대하여 주석이나 설명을 기입할때 docstring을 사용
# 함수 맨앞에 세개의 따옴표(""")로 설명을 시작하고 끝나는 시점에 세개의 따옴표를 사용
# 특히 내장 함수나 다른 오픈 라이브러리를 가져다 사용할 때, 사용할 함수가
# 궁금할 때 대화식 모드에서 help(함수명)을 많이 사용

In [60]:
def testf1():
    """
이 함수는 홍필두가 최선을 다하여 멋지게 만든 함수
인수 값에 숫자만큼 1부터 해당 값을 더한 값을 출력해 준다 
"""
    
    sum=0
    for i in range(n+1):
        sum+=i
    print("합:",sum)
    
# 프로그램에서(특히 대화식 모드) 해당함수가 궁금할 때
help(testf1)

Help on function testf1 in module __main__:

testf1()
    이 함수는 홍필두가 최선을 다하여 멋지게 만든 함수
    인수 값에 숫자만큼 1부터 해당 값을 더한 값을 출력해 준다